extends layout

block scripts

block content
    .layout-transparent.mdl-layout.mdl-js-layout(ng-controller="mainCtrl")
        if users
            each u in users
                p= u
        else
            header.mdl-layout__header.mdl-layout__header--transparent
                .mdl-layout__header-row
                    // Title
                    span.mdl-layout-title
                    // Add spacer, to align navigation to the right
                    .mdl-layout-spacer
                    // Navigation (right)
                    nav.mdl-navigation
                        // Inbox badges
                        //- TODO: user notification
                        a.mdl-navigation__link(href="")
                            .mdl-badge(data-badge='n') Inbox
            .mdl-layout__drawer
                span.mdl-layout-title f
                nav.mdl-navigation
                    a.mdl-navigation__link(href='') Link
                    a.mdl-navigation__link(href='') Link
                    a.mdl-navigation__link(href='') Link
                    a.mdl-navigation__link(href='') Link
            main.mdl-layout__content
                #music-main.container
                .player
                    #cd.cd
                        #out.out
                        #album.album.albumhover(ng-click="initPlay")
                        #in.in.albumhover(ng-click="initPlay")
                    .action
                        a.music-control(ng-click="musicPlay")
                            img#play(src='/images/play.png')
                        input#range(type='range', min='0', max='10', value='5', ng-model="volumes")
                        a.music-control(ng-click="nextMusic")
                            img#next_music(src='/images/forward.png')
                    .info
                        span#music_name
                        span#artist
                    #music_lrc.music_lrc
                    audio#player
