extends layout

block content
  main#index-wrapper.mdl-layout__content.container
    section.row
      .unit.third
        .play-id.active
      .unit.third
        .play-id
      .unit.third
        .play-id
