extends layout

block content
  main#index-wrapper.mdl-layout__content.container(ng-controller="IndexCtrl")
    section.row
      .unit.third
        ul
          li.play-id(class="item-{{$index+1}}", ng-repeat="item in musicList", ng-class="{active : item.isActive}", ng-click="activeItem($index, musicList)")
