#index-wrapper {
  section {
    .active {
      position: relative;

      &:after {
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-color: transparent #2E79BA transparent transparent;
        position: absolute;
        top: -8px;
        left: 60px;
        content: '';
        transform: rotate(135deg);
      }
    }

    .unit {
      ul {
        list-style-type: none;

        li {
          float: left;
          margin-right: 10px;
        }
      }
    }

    .play-id {
      position: relative;
      text-align: center;
      padding: 33px;
      margin-bottom: 0;
      border: 2px solid #2E79BA;
      border-radius: 3px;
      cursor: pointer;
      background: url('http://p3.music.126.net/JY5NwvXWJ_UPH_EnrAD1uA==/3264450024381137.jpg?param=140y140');
      background-size: cover;
    }
  }
}